@model Hospital_Managment.Models.LoginModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>LoginModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
               <select id="Login" name="Login" class="form-control">
                   <option>--Select--</option>
                    <option>User</option>
                    <option>Admin</option>
               </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary my-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Login Page</a>|<a asp-action="Registration">Registration</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
